<div class="content-wrap">
    <div class="container">
        <h2>参数设定</h2>
        <h3>整合分析</h3>
        <hr />
        <p>
            郊区半径(米)
            <br />
            <input type="text" name="suburb" value="<%= plan.suburb %>" />
        </p>
        <p>
            密集城区半径(米)
            <br />
            <input type="text" name="crowded" value="<%= plan.crowded %>" />
        </p>
        <p>
            农村半径(米)
            <br />
            <input type="text" name="village" value="<%= plan.village %>" />
        </p>
        <p>
            一般城区半径(米)
            <br />
            <input type="text" name="city" value="<%= plan.city %>" />
        </p>
        <h3>新建分析</h3>
        <hr />
        <p>
            郊区半径(米)
            <br />
            <input type="text" name="suburb" value="<%= plan.suburb %>" />
        </p>
        <p>
            密集城区半径(米)
            <br />
            <input type="text" name="crowded" value="<%= plan.crowded %>" />
        </p>
        <p>
            农村半径(米)
            <br />
            <input type="text" name="village" value="<%= plan.village %>" />
        </p>
        <p>
            一般城区半径(米)
            <br />
            <input type="text" name="city" value="<%= plan.city %>" />
        </p>
        <p><input type="submit" class="btn btn-primary" value="保存"></p>
    </div>
</div>