<div class="content-wrap">
    <div class="container">
        <h2>站址推荐</h2>
        <p>
            <a href="/tower/exportsuggest" target="_blank" class="btn btn-info">导出</a>
        </p>
        <% if (suggestions.length > 0) { %>
        <table class="table">
            <thead>
            <tr>
                <td>区县</td>
                <td>经度</td>
                <td>纬度</td>
                <td>半径(米)</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <% suggestions.forEach(x => { %>
            <tr>
                <td><%= x.district %></td>
                <td><%= x.lon.toFixed(7) %></td>
                <td><%= x.lat.toFixed(7) %></td>
                <td><%= (x.radius * 1000).toFixed(2) %></td>
                <td><a href="/map?lon=<%= x.lon %>&lat=<%= x.lat %>">在地图上查看</a></td>
            </tr>
            <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <p>没有符合条件的站址</p>
        <% } %>
    </div>
</div>